In [5]:
#Q 1~20 사이의 정수에서 3의 배수만 출력하세요.

for i in range(1, 21):
    if i %3 == 0:
        print(i, end=' ')

3 6 9 12 15 18

In [6]:
#Q. 1~100 범위의 정수에서 95보다 큰 정수만 출력하세요.

for i in range(1, 101):
    if i > 95:
        print(i, end=' ')

96 97 98 99 100

In [3]:
import numpy as np
np.random.seed(0)
num = np.random.randint(10, size=10)
num

array([5, 0, 3, 3, 7, 9, 3, 5, 2, 4])

In [7]:
#Q. [5,0,3,3,7,9,3,5,2,4]에서 7,9만 출력하세요.

x = [5,0,3,3,7,9,3,5,2,4]
x[4:6]

[7, 9]

In [12]:
#Q. [5,0,3,3,7,9,3,5,2,4]에서 0,9만 출력하세요.
x = [5,0,3,3,7,9,3,5,2,4]
print([x[1], x[5]])

[0, 9]

In [4]:
num = np.arange(20).tolist()
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
#Q. num에서 10,11,12만 출력하세요.
num[10:13]

[10, 11, 12]

In [3]:

for number in range(0, 20):
    if number < 10:
        continue
    elif number > 12 :
        continue
    else :
        print(number, end=' ')

10 11 12

In [23]:
#Q. 500~1000사이의 정수 중 3과 5의 공배수의 합을 구하세요

x = 499
sum = 0

while x < 1001 :
    if x %15 == 0:
        sum += x
    x += 1

print(sum)

24750

In [8]:
sum = 0
for x in range (500, 1001):
    if x %3 ==0 and x %5 ==0:
        sum += x
    else:
        continue
print(sum)

24750

In [24]:
#Q. 1 ~1000 사이의 정수 중 5와 7의 공배수의 합을 구하세요.

x = 0
sum = 0

while x < 1001:
    if x %35 == 0:
        sum += x
    x +=1
    
print(sum)

14210

In [145]:
#Q. 1~100 사이의 정수 중  3과 4의 공배수를 리스트로 구하세요. * 리스트로 구하는 방법
a = []
for x in range(1, 101):
    if x %12 == 0:
       a.append(x)
    x += 1
print(a)

[12, 24, 36, 48, 60, 72, 84, 96]

In [106]:

def bae(a,b):
    i = 1
    while a*b*i < 100:
        print(a*b*i, end=' ')
        i+=1

bae(3, 4)

12 24 36 48 60 72 84 96

In [69]:
#Q. 3~7사이의 정수의 곱을 구하세요.

def cal1(a,b):
    return a * b

i = 1
sum = 1
while i < 8:
    if i >2 :
        sum *= i
    i += 1
print(sum)

2520

In [9]:
#Q. 2,3을 더한 후 5를 곱하는 계산 값을 람다함수를 이용하여 구하세요.

x = lambda a, b, c : (a+b)*c
x(2,3,5)

25

In [11]:
#Q. 2와 5를 더한 후 3으로 나눈 나머지 값을 사용자 함수를 이용하여 구하세요. 

def per_1(a,b,c):
    return (a + b)%c 

per_1(2,5,3)

1

In [59]:
input_a = """
                       It is true
'Python is fit for data analysis'
"""
print(input_a)

                       It is true
'Python is fit for data analysis'

In [21]:
#Q. 문장열 앞의 공백을 제거하고 아래와 같이 출력하세요(구글링) *모르겠음. 
#It is true
#'Python is fit for data analysis'
input_a = """
                       It is true
'Python is fit for data analysis'
"""
st_input = input_a.lstrip()
print(st_input)

It is true
'Python is fit for data analysis'

In [74]:
#Q. "10/20/30/40/50을 '/'를 기준으로 구분하여 아래와 같이 출력하세요." 문자열 자르기
#['10','20','30','40','50']

num_li ="10/20/30/40/50"
num_li.split('/')

['10', '20', '30', '40', '50']

In [182]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2021, 6, 23, 14, 41, 54, 497620)

In [146]:
#Q. 현재의 날씨와 시간을 다음과 같이 포멧으로 표현하세요.
# 2021년 6월 23일 09시 01분 01초
import datetime
t = datetime.datetime.now()
t

print(t.year,"년", t.month,"월", t.day, "일", t.hour, "시", t.minute, "분", t.second, "초")

2021 년 6 월 23 일 16 시 58 분 42 초

In [22]:
import datetime
t = datetime.datetime.now()
t

print("{}년 {}월 {}일 {}시 {}분 {}초".format(t.year, t.month, t.day, t.hour, t.minute, t.second))

2021년 6월 24일 9시 40분 17초

In [27]:
#Q. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈값을 출력하고 그 외는 다시 입력하라는 메시지를 출력하세요.*모르겠다.
while 1 :
    a = int(input("정수를 입력하세요 :  "))
    b = int(input("정수를 입력하세요 :  "))
    if a %2 == 0 and b %2 ==0:
        print(a*b)
        break
    elif a %2 != 0 and b %2 !=0:
        print(a+b)
        break 
    else:
        print("다시 입력하세요.")
        continue

정수를 입력하세요 :  5
정수를 입력하세요 :  4
다시 입력하세요.
정수를 입력하세요 :  6
정수를 입력하세요 :  6
36

In [11]:
#Q. 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.
# [1*99, 2*98...98*2, 99*1]

a = 1
x = []
while a < 100 : 
    sum = a * (100-a)
    x.append(sum)
    a += 1

print(max(x))

2500

In [16]:
a = 1
x = []
for a in range(1, 101):
    sum = a * (100 - a)
    x.append(sum)
    a += 1
print(max(x))

2500

In [154]:
a = [7, 2, 1, 8, 9, 10]
print(max(a))

10

In [212]:
#Q. [     ]을 채워서 아래의 출력과 같이 출력하세요. #출력 [[1,4,7],[2,5,8],[3,6,9]]
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]

for number in numbers:
    output[number%3-1].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [23]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]

for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Q. 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 case별 멘트 출력은 상황에 맞게 장착
- while, if-elif-else 제어문을 사용하여 작성

In [17]:
money = int(input("넣으실 돈을 입력해주세요 : "))
sum = 5 

while sum != 0 :
    if money > 300:
        print("남은 돈을 가져가세요.") 
        sum -= 1
        break
    elif money == 300:
        print("커피를 가져가세요")
        sum -= 1
        break
    else :
        print("반환된 돈을 가져가세요.")
        break

넣으실 돈을 입력해주세요 : 300
커피를 가져가세요