Q.내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.
삭제하는 내장함수 찾아서 하기

Q.내장함수를 이용해서 list = [0,1,2,3,4,5,6에서 모든 원소를 삭제 후 출력하세요.
#얘도 내장함수 찾아서 하기

Q. list = [0,1,2,3,4,5,6]에 3,7이 포함되어 있는지 확인하세요.

In [ ]:
list1 = [0,1,2,3,4,5,6]
print(3 in list1)
print(7 in list1)

In [ ]:
# Q. numbers 내부에 들어 있는 숫자가 몇 번 등장하는 지를 출력하는 코드를 작성하세요. 
numbers = [3,6,6,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
#오수문씨
for i in range(min(numbers),(max(numbers)+1)):
    s = numbers.count(i)
    if s!=0:
        print("{}이 {}번 포함되어 있습니다.".format(i,s))

In [ ]:
#한아름씨
numbers = [3,6,6,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
st = list(set(numbers))
for i in st:
    print("{}는 {}번 들어있습니다.".format(i, numbers.count(i)))

In [ ]:
# Q. list를 [6,5,4,3,2,1,0]으로 출력하세요(2가지 방법)
li2 = [0,1,2,3,4,5,6]

li2.sort()
print(list(reversed(li2)))

In [ ]:
# Q. list = ['a','b','c']을 for문을 사용해서 아래와 같이 출력하세요.
#1번째는 a입니다.
#2번째는 b입니다.
#3번째는 c입니다.

l1 = ['a', 'b', 'c']

for i in l1:
    print('{}번째 자리는 {}입니다.\n'.format(l1.index(i), i))

In [ ]:
#index와 값을 동시에 반환함
li2 = ['a', 'b', 'c']
for i, value in enumerate(li2):
     print('{}번째 자리는 {}입니다.\n'.format(i+1, value))

In [ ]:
# Q. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요. list안에서 하면 됨
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

In [1]:
list(map(lambda x: x*x, range(0,20,2)))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

 Q. list = [0,1,2,3,4,5,6,7,8,9]에서 아래와 같이 출력하세요.
list = [0,1,2,3,4,5,6,7,8,9]
[0,2,4,6,8]
[1,3,5,7,9]
[2,1,0]

In [6]:
list_6 = [0,1,2,3,4,5,6,7,8,9] 
print(list_6[0:10:2])
print(list_6[1:10:2])

A = list_6[0:3]
A.reverse()
print(A)

print(list_6[0::2])
print(list_6[2::-1])

print(list_6[::-1])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]
[0, 2, 4, 6, 8]
[2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Q. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요. a::b::c

Q. 사용자 함수를 이용해서 여러개의 숫자를 입력하면 그 숫자들의 곱을 구하세요.

Q. 두 개의 숫자를 인자로 적용하면 4칙 연산을 수행하는 사용자 함수를 작성한 후 
5,3을 대입한 결과를 튜플로 출력하세요. 단, 소수점은 없게 처리

In [9]:
def cal(a,b):
    add = "{:.0f}".format(a+b)
    sub = round(a-b, 1) #round(a,b)는 반올림 a는 지정값, b는 소수점 자리, 안쓰면 디폴트 값으로 0입니다.
    mul = round(a*b)
    div = "{:.2f}".format(a/b)
    return int(add), sub, mul, float(div) #int는 정수라 float을 해야 실수 가능
cal(5.12,3.1)

(8, 2.0, 16, 2)

In [10]:
def cal2(a,b):
    return a+b, a*b, a-b, round(a/b)
cal2(5,3)

(8, 15, 2, 2)

Q. 뺄셈, 나눗셈 멀티 계산 함수를 작성

In [31]:
#한아름씨
def sub_div(tp, a, *args):
    if tp == "div" and args !=0:
        result = a
        for i in args:
            result /= i
            
    elif tp == "sub" :
        result = a
        for i in args:
            result -= i
    else:
        result = "잘못입력"
    print (result)

sub_div("div", 1,2,1)

0.5

In [15]:
# Q. 아래를 완성하여 2를 출력하세요.
a = 3
def vartest(a):
    a -= 1
    return a
a = vartest(a)
print(a)

2

In [17]:
# Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요.
#단 반복적으로 작업을 수행할 수 있음

while 1 :
    data = input()
    if not data: break

In [ ]:
# Q. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

#### Q. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는
#작성하고 1!, 5!, 10!를 구하세요.
#factorial(n) = n * factorial(n-1) (n>=1)

In [22]:
def fac1(a):
    if a== 1 : 
        return 1
    elif a > 1 :
        return a * fac1(a-1)
    elif a <= 0 :
        return '오류'

print(fac1())

TypeError: fac1() missing 1 required positional argument: 'a'

In [24]:
# Q. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 면적과 둘레를 구하세요
#이민찬
from math import pi
def get_circle_info(r):
    return r*r*pi, 2*r*pi

print(get_circle_info(5))
print(get_circle_info(10))

(78.53981633974483, 31.41592653589793)
(314.1592653589793, 62.83185307179586)

In [ ]:
# Q. '안녕!'을 10번 출력하는 사용자 함수를 작성하여 실행하세요.

#Q. 내장함수를 이용하여 [1,2,3,4,5]를 [1.0,2.0,3.0,4.0,5.0]로 변환하세요.

In [28]:
l1 = [1,2,3,4,5]
l1 = list(map(float, l1))
print(l1)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [29]:
# Q. 내장함수 map()를 이용하여 [1,2,3,4,5]를 [1,4,9,16,25]로 변환하세요.
list_i = [1,2,3,4,5]
list_i = list(map(lambda x : x*x, list_i))
print(list_i)

[1, 4, 9, 16, 25]