In [10]:
# 과제
# Q. 5행 5열의 리스트, 배열, 사전 형태의 데이터를 데이터 프레임으로
# 변환하여 출력하세요(가능한한 의미있는 데이터로 작성)
import pandas as pd
import numpy as np
# 배열을 데이터프레임으로 만드는 것 :
a = np.random.randint(1,20,size=(5,5))
df1 = pd.DataFrame(a)

#리스트를 데이터프레임으로 만드는 것 :
b = [1,4,6,7,2]
df2 = pd.DataFrame(b) 
df2

# 혹은 배열을 리스트로 만든 후 데이터프레임으로 만들기:
b1 = a.tolist()
df3=pd.DataFrame(b1)
df3

# 사전을 데이터프레임으로 만들기
# c = {1 : 'a', 2:'b', 3:'c'}

    0   1   2   3   4
0   9   1  10  11  11
1   5  17  19  19  12
2  14  12  11   8  17
3   6  15  11   1   4
4   7  16   7   9   2

In [ ]:
# Q. 위에서 변환한 데이터 프레임에서 데이터 변경, 삭제, 전치, 인덱스 등
# 처리를 한 후 다시 리스트, 배열, 사전 형태로 변환하여 출력하세요.