## 빅데이터 기반 AI 응용 솔루션 개발자 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 21.07.02
- 성명 : 조경림
- 점수 :

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [36]:
numbers = [5, 15, 6, 20, 7, 25]
new_num = []
for i in numbers :
    if i > 10 :
        new_num.append(i)
print(new_num)

[15, 20, 25]

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [66]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

new_power = []
for i in list_input_a:
    a = power(i)
    new_power.append(a)
print(new_power)

[1, 4, 9, 16, 25]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [34]:
while 1 :
    a = int(input("정수를 입력하세요: "))
    a > 0
    if a %2 == 0:
        print('짝수')
        break
    elif a %2 !=0:
        print('홀수')
        break

정수를 입력하세요: 5
홀수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [33]:
x = lambda a, b : (a**b)-(a*b)

print(x(2,5))
print(x(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [32]:
example_list = ["요소A", "요소B", "요소C"]

for i in range(0,3):
    print("{}번째 요소는 {}입니다.".format(i,example_list[i]))

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [31]:
def cal1(a,b):
    return a//b, a%b 

cal1(97,40)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [30]:
list_number = [52, 273, 32, 72, 100]

while 1 :
    try :
        a = int(input('정수 입력 > '))
        if a < 5:
            print("{}번째 요소, {}예외처리 완료".format(a,list_number[a]))
            break
        elif a >= 5 :
            print("리스트의 인덱스를 벗어났어요! 예외 처리 완료")
            continue
    except :
        print("정수를 입력해주세요! 예외처리 완료")
        continue

정수 입력 > 4
4번째 요소, 100예외처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [29]:
while 1 :
    try:
        a = float(input('서로 다른 두 숫자 중 첫번째 수를 입력해주세요 : '))
        b = float(input('서로 다른 두 숫자 중 두번째 수를 입력해주세요 : '))
        if a > b :
            print("{}가 {}보다 큽니다.".format(a, b))
            break
        elif a < b :
            print("{}가 {}보다 큽니다.".format(b,a))
            break
    except:
        print("숫자를 입력하세요.")
        continue

서로 다른 두 숫자 중 첫번째 수를 입력해주세요 : 2
서로 다른 두 숫자 중 두번째 수를 입력해주세요 : 3
3.0가 2.0보다 큽니다.

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [52]:
total = []
for i in range(1, 100):
    a = i * (100-i)
    total.append(a)
max(total)

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.(032만 출력)
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [49]:
import re
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p = re.compile('\d+')
d = p.search(text)

print(d)

<re.Match object; span=(10, 13), match='032'>

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [ ]:
re import

p = re.complie({(ab)(cd)(e)(fghij)})

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [27]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9:11]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [3]:
sum = 0
i = 500
while i <1001:
    if i%35 == 0:
        sum += i
    i += 1
print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

[[1,4,7],[2,5,8],[3,6,9]]

In [23]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[number%3-1].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [81]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

def result1(i):
    if i in numbers:
        print('{}는 numbers리스트에 {}번 들어있습니다.'.format(i,numbers.count(i)))
result1(3)

3는 numbers리스트에 4번 들어있습니다.

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.
한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

In [13]:
class Country:    
    def __init__(self, country, population, city):
        self.country = country
        self.population = population
        self.city = city   
             
    def desc(self):
        print('{}의 인구는 {}천만명이며 수도는 {}입니다.'.format(self.country,self.population,self.city))
    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp) 

obj = Country('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [14]:
class Cal4:
    def add(self, a, b):
        return a+b
    def sub(self, a, b):
        return a-b
    def mul(self, a, b):
        return a*b
    def div(self, a, b):
        return a/b

obj = Cal4()
print(obj.add(10,5))
print(obj.sub(10,5))
print(obj.mul(10,5))
print(obj.div(10,5))

15
5
50
2.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')