## 빅데이터 기반 AI 응용 솔루션 개발자 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 21.07.09
- 성명 : 조경림
- 점수 : 83

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 5, 6, 7를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [2]:
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
    if i < 8:
        print(i,'',end='')

5 6 7

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [12, 14, 16, 18, 20], [6]를 출력하세요.(내장함수 2개 사용 필수)

In [135]:
# 함수를 선언합니다.
def power(item):
    return item + item
def under_7(item):
    return item < 7

# 변수를 선언합니다.
list_input_a = [6,  7,  8,  9, 10]

a = map(power, list_input_a)
b = filter(under_7, list_input_a)

print(list(a))
print(list(b))

[12, 14, 16, 18, 20]
[6]

#### 3. 정수를 입력하면 3의 배수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '3의 배수', '3의 배수가 아님'으로 출력). 단 정수를 입력하지 않으면 '정수를 입력해 주세요'라고 출력

In [1]:
while 1 :
    try:
        a = int(input('정수를 입력하면 3의 배수인지 판단해드립니다.: '))
        if a %3 == 0:
            print("3의 배수")
            break
        elif a%3 != 0:
            print("3의 배수가 아님")
            break
    except:
        print("정수를 입력해주세요.")
        continue

정수를 입력하면 3의 배수인지 판단해드립니다.: 5
3의 배수가 아님

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 더한 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [2]:
x = lambda a, b : (a**b) + (a*b)

print(x(2,5))
print(x(5,2))

42
35

#### 5. 10자리 정수를 입력한 후  콤마로 천단위를 구분하여 출력하세요.

In [5]:
num = input('정수를 입력하면 천단위로 구분해드립니다> ')

if num.isdigit():
    num = num[::-1]
    num = num
    ret = ''
    for i, c in enumerate(num):
        i +=1
        if i !=len(num) and i %3 ==0:
            ret += (c,',')
        else:
            ret +=c
        ret = ret[::-1]
        print(ret)
else :
    print('입력한 내용은 숫자가 아닙니다.')

정수를 입력하면 천단위로 구분해드립니다> 50010
0
10

TypeError: can only concatenate str (not "tuple") to str

In [33]:
a = input('정수를 입력하면 천단위로 구분해드립니다> ')


if a == isdigit():
    a = a[::-1]

정수를 입력하면 천단위로 구분해드립니다> 4567

'7654'

#### 6. car_lists = ["마티즈", "그랜저", "제네시스"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
1번 차는 마티즈입니다.\
2번 차는 그랜저입니다.\
3번 차는 제네시스입니다.

In [3]:
car_lists = ["마티즈", "그랜저", "제네시스"]

for i, car_name in enumerate(car_lists):
    print('{}번 차는 {}입니다.'.format(i+1, car_name))

1번 차는 마티즈입니다.
2번 차는 그랜저입니다.
3번 차는 제네시스입니다.

#### 7. 100을 37로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [4]:
divmod(100,37)

(2, 26)

#### 8. list_number = list(np.arange(21,26))로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 정수 입력 \
정수 입력> 5 \
5번째 요소: 25 \
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 6 입력시 \
정수 입력> 6 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [7]:
import numpy as np
list_number = list(np.arange(21,26))

def identfy():
    while 1 :
        try:
            i = int(input('정수 입력> '))
            if i in range(0,6):
                while 1:
                    print("{}번째 요소 : {}".format(i, list_number[i-1]))
                    break
        except ValueError:
            print("잘못된 값을 입력했습니다!")
            continue
        except IndexError:
            print("잘못된 값을 입력했습니다!")
            continue
        finally:
            print("예외처리 완료")
            break

identfy()

정수 입력> 4
4번째 요소 : 24
예외처리 완료

#### 9. 사용자로부터 서로 다른 실수 두 개를 입력받고 첫 번째 와 두 번째중 큰 실수를 구하는 프로그램을 수행하세요.

In [2]:
def flo():
    while 1 :
        try:
            a = float(input("첫번째 실수를 입력해주세요> "))
            b = float(input("두번째 실수를 입력해주세요> "))
            if a > b :
                print("{}가 {}보다 큽니다.".format(a,b))
                break
            elif a < b :
                print("{}가 {}보다 큽니다.".format(b,a))
                break
        except:
            print("실수를 입력해주세요!")
            continue
flo()

첫번째 실수를 입력해주세요> 5
두번째 실수를 입력해주세요> 4
5.0가 4.0보다 큽니다.

#### 10. 1부터 1000까지 아래와 같은 방식으로 2개의 수를  곱했을 때 가장 큰 수를 구하세요.

 (1 * 999),(2 * 998) ...(999 * 1)

In [8]:
li1 = []
for i in range(1000):
    mul = i * (1000-i)
    li1.append(mul)
    i += 1
max(li1)

250000

#### 11. 정규표현식을 사용하여 text에서 지역코드를 제외한 넘버만 출력하세요.
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [13]:
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
import re 
a = re.compile('\d{3}[-](\d{3}[-]\d{4})')
b = a.search(text)
b.group(1)

'232-3245'

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'bcdefgh'와 cdefg'를 출력하세요

In [30]:
import re 
text = 'abcdefghij'
a = re.compile('a(b(c(de)(f(g))h))i')
b = a.search(text)
print(b.group(1))
print(b.group(2))

bcdefgh
cdefgh

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 알파벳 문자만을 리스트로 출력하세요

In [59]:
li4 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

li4[-3:]

['a', 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5의 배수이거나  7의 배수인 수의 합을 구하세요

In [8]:
sum = 0

for i in range(500, 1001):
    if (i%5==0) or (i%7==0):
        sum += i
    i += 1
print(sum)

118394

#### 15. [    ]을 채워서 아래와 같이 출력하세요.
[[3, 6, 9], [1, 4, 7], [2, 5, 8]]

In [60]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[number%3].append(number)
print(output)

[[3, 6, 9], [1, 4, 7], [2, 5, 8]]

####  16. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [71]:
def fac(x):
    if x == 1:
        return 1
    elif x != 1:
        return x *fac(x-1)

print(fac(5))
print(fac(10))

120
3628800

#### 17. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요(내장함수 및 정규표현식 사용)

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',  
          'south   carolina##', 'West virginia?']  

[출력]
['Alabama',  
 'Georgia',  
 'Georgia',  
 'Georgia',  
 'Florida',  
 'South   Carolina',  
 'West Virginia']

In [9]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
'south carolina##', 'West virginia?']

import re
li =[]
for i in states:
    a = i.strip()
    b = re.sub('[?!#]','',a)
    c = b.title()
    li.append(c)
li

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

####  18.게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램을 작성하세요. 단, 잘못 입력시 예외 처리 필수

In [12]:
def board():
    while 1 :
        try :
            a = int(input('게시물의 총 건수를 입력해주세요 : '))
            b = int(input('한 페이지에 보여 줄 게시물의 수를 입력해주세요 : '))
            if a / b <= 1:
                return "총페이지수 : 1"
            elif a / b > 1:
                return "총페이지수 : {}".format(a // b )
        except Exception as e:
            print('숫자로 다시 입력해주세요 : ')
            continue
board()

게시물의 총 건수를 입력해주세요 : d
숫자로 다시 입력해주세요 :
게시물의 총 건수를 입력해주세요 : 5
한 페이지에 보여 줄 게시물의 수를 입력해주세요 : 6

'총페이지수 : 1'

In [17]:
# 이민찬님
try:
    total_post = int(input('게시물 총 건수를 입력하세요. > '))
    per_page = int(input('한 페이지에 보여 줄 게시물 수를 입력하세요. > '))
    if total_post < 0 or per_page <= 0:
        raise(ValueError)
    page = total_post // per_page
    if total_post % per_page != 0:
        page += 1
    print('총 페이지 수 : %d' %page)
except ValueError:
    print('올바른 입력값을 넣어주세요.')
except Exception as e:
    print('예상치 못한 오류가 발생했습니다.', e)

게시물 총 건수를 입력하세요. > 5
한 페이지에 보여 줄 게시물 수를 입력하세요. > 5
총 페이지 수 : 1

In [ ]:
# 임희진님
try:
    a = int(input('총 게시물 수를 입력하세요. '))
    b = int(input('한 페이지에 보여줄 게시물 수를 입력하세요. '))
    div = divmod(a,b)
    if div[1] != 0:
        print(f'총 페이지 수: {div[0]+1}')
    else:
        print(f'총 페이지 수: {div[0]}')
except Exception as e:
    print(e)

#### 19. 발표할 인원을 입력하면 (파이썬의)랜덤으로 발표자를 리스트로 출력해주는 프로그램을 작성 후 다음을 수행하세요.(중복 허용하지 않음)
- 발표자 1명
- 발표자 5명
- 발표자 28명 전원

In [ ]:
name = ['고영남', '김광훈', '김동일', '김진', '박기범', '박민아', '박시우', 
        '배송이', '송유빈', '신인철','오수문','우동주','이민찬','이범준',
        '이슬','이원진','이종현','임희진','정하림','조경림','조현정',
        '진유훈','채승혜','최윤진','최한결','최혜정','하도원','안아름']
import random
def ppt():
    while 1 :
        a = int(input('발표할 인원을 입력하세요 : '))
        n_ppt =[]
        if a == 28 :
            print("발표자 28명 전원")
        for i in range(a):
            pptor = random.sample(name, i+1)
            a = pptor
        
        print("발표자 {}명, {}".format(i+1, a))
        break
ppt()

#### 20. 네이버 통합검색 사이트에서 빅데이터를 입력한 후 관련 뉴스의 타이틀만 선택하여 아래 포멧으로 출력하세요.

In [ ]:
1.'4년만에'…6개 보험사, 공공의료데이터 받는다(종합)
2.부산시 금융 빅데이터 센터 구축 공모사업 선정
3."중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"
4.소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다
5.KISA, 사이버보안 8억건 'AI 데이터셋' 구축 추진
6.농식품 공공데이터 개방…가격·요리정보 활용 높아
7.과학화훈련단 빅데이터 활용한 프로그램 만든다
8.세종대, 하계방학 빅데이터 분석실무2급 프로그램 운영
9.한국농수산식품유통공사, 범정부 빅데이터 플랫폼 연계 상담회 개최
10.KISA, '사이버보안' AI 데이터셋 구축 착수

In [10]:
import requests as rq
from bs4 import BeautifulSoup as bs
URL = 'https://search.naver.com/search.naver?where=news&sm=tab_jum&query=%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0'
response = rq.get(URL)
content = response.text
soup = bs(content, 'html.parser')
results = soup.select('div.news_wrap.api_ani_send >div > a')
for i, r in enumerate(results):
    print('{},{}'.format(i+1, r.text))

1,'교육빅데이터위원회' 출범…교육데이터 개방·활용 논의
2,"진짜 돈되는 보고서 따로 있다"…'빅데이터 투자' 특허 출원
3,"중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"
4,부산시 ‘금융 빅데이터 센터’ 구축…디지털혁신 가속화
5,삼성생명 등 6개 보험사, '공공의료 데이터 활용' 길 열렸다
6,’Nowcast 포털‘로 빅데이터 기반 경제·사회 속보성 지표 서비스
7,한전의 '전력 빅데이터'와 하나은행의 '금융 인센티브' 결합
8,대학교 브랜드평판 6월 빅데이터 분석 1위는 서울대
9,소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다
10,보험사, 4년만에 공공 의료 데이터 쓸 수 있다

In [11]:
from bs4 import BeautifulSoup
import requests
req = requests.get('https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0&oquery=&tqi=hMjH8wprvN8sslOFM4wssssss3Z-305236')
html = req.text
# print(html)
soup = BeautifulSoup(html,'html.parser')
results = soup.select('div.news_wrap.api_ani_send > div > a')
results
# for i, r in enumerate(results):
#     print('{}.{}'.format(i+1,r.text))

[<a class="news_tit" href="http://yna.kr/AKR20210708144200530?did=1195m" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=1&amp;i=880000D8_000000000000000012514049&amp;g=001.0012514049&amp;u='+urlencode(this.href));" target="_blank" title="'교육빅데이터위원회' 출범…교육데이터 개방·활용 논의">'교육<mark>빅데이터</mark>위원회' 출범…교육데이터 개방·활용 논의</a>,
 <a class="news_tit" href="http://www.edaily.co.kr/news/newspath.asp?newsid=02174646629112880" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=6&amp;i=880000E7_000000000000000004979567&amp;g=018.0004979567&amp;u='+urlencode(this.href));" target="_blank" title="&quot;진짜 돈되는 보고서 따로 있다&quot;…'빅데이터 투자' 특허 출원">"진짜 돈되는 보고서 따로 있다"…'<mark>빅데이터</mark> 투자' 특허 출원</a>,
 <a class="news_tit" href="http://yna.kr/AKR20210708124900009?did=1195m" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=8&amp;i=880000D8_000000000000000012512972&amp;g=001.0012512972&amp;u='+urlencode(this.href));" target="_blank" title='"중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"'>"중 의료 <mark>빅데이터</mark>업체 미 상장 보류…당국 규제강화 후 첫사례"</a>,
 <a class="news_tit" href="http://news.kmib.co.kr/article/view.asp?arcid=0016028872&amp;code=61141111&amp;cp=nv" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=10&amp;i=8800006F_000000000000000001454330&amp;g=005.0001454330&amp;u='+urlencode(this.href));" target="_blank" title="부산시 ‘금융 빅데이터 센터’ 구축…디지털혁신 가속화">부산시 ‘금융 <mark>빅데이터</mark> 센터’ 구축…디지털혁신 가속화</a>,
 <a class="news_tit" href="https://view.asiae.co.kr/article/2021070815322641533" onclick="return goOtherCR(this, 'a=nws*h.tit&amp;r=14&amp;i=88000385_000000000000000004934293&amp;g=277.0004934293&amp;u='+urlencode(this.href));" target="_blank" title="삼성생명 등 6개 보험사, '공공의료 데이터 활용' 길 열렸다">삼성생명 등 6개 보험사, '공공의료 <mark>데이터</mark> 활용' 길 열렸다</a>,
 <a class="news_tit" href="https://www.hellot.net/news/article.html?no=59640" onclick="return goOtherCR(this, 'a=nws*b.tit&amp;r=19&amp;i=88166537_000000000000000000026534&amp;g=5417.0000026534&amp;u='+urlencode(this.href));" target="_blank" title="’Nowcast 포털‘로 빅데이터 기반 경제·사회 속보성 지표 서비스">’Nowcast 포털‘로 <mark>빅데이터</mark> 기반 경제·사회 속보성 지표 서비스</a>,
 <a class="news_tit" href="http://www.ajunews.com/view/20210709112630154" onclick="return goOtherCR(this, 'a=nws*f.tit&amp;r=21&amp;i=8800058B_000000000000000002033049&amp;g=5090.0002033049&amp;u='+urlencode(this.href));" target="_blank" title="리서치알음, '빅데이터 투자 시스템' 특허 출원">리서치알음, '<mark>빅데이터</mark> 투자 시스템' 특허 출원</a>,
 <a class="news_tit" href="http://news.mt.co.kr/mtview.php?no=2021070911002620536" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=22&amp;i=880000C2_000000000000000004613970&amp;g=008.0004613970&amp;u='+urlencode(this.href));" target="_blank" title="한전의 '전력 빅데이터'와 하나은행의 '금융 인센티브' 결합">한전의 '전력 <mark>빅데이터</mark>'와 하나은행의 '금융 인센티브' 결합</a>,
 <a class="news_tit" href="http://www.thebigdata.co.kr/view.php?ud=20210709085018372007d270612f_23" onclick="return goOtherCR(this, 'a=nws*b.tit&amp;r=25&amp;i=881843ee_000000000000000000093899&amp;g=5645.0000093899&amp;u='+urlencode(this.href));" target="_blank" title="대학교 브랜드평판 6월 빅데이터 분석 1위는 서울대">대학교 브랜드평판 6월 <mark>빅데이터</mark> 분석 1위는 서울대</a>,
 <a class="news_tit" href="http://www.etnews.com/20210708000145" onclick="return goOtherCR(this, 'a=nws*j.tit&amp;r=28&amp;i=880000EA_000000000000000002956279&amp;g=030.0002956279&amp;u='+urlencode(this.href));" target="_blank" title="소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다">소비자원, <mark>빅데이터</mark>로 소비자 분쟁 지원...中企 대응력 키운다</a>]