## 빅데이터 기반 AI 응용 솔루션 개발자 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 21.07.09
- 성명 : 조경림
- 점수 :

※ 문제당 5점으로 채점

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [12, 14, 16, 18, 20], [6]를 출력하세요.(내장함수 2개 사용 필수)

In [5]:
# 함수를 선언합니다.
def power(item):
    return item + item
def under_7(item):
    return item < 7

# 변수를 선언합니다.
list_input_a = [6,  7,  8,  9, 10]
a = map(power,list_input_a)
print(list(a))
b= filter(under_7,list_input_a)
print(list(b))

[12, 14, 16, 18, 20]
[6]

#### 5. 10자리 정수를 입력한 후  콤마로 천단위를 구분하여 출력하세요.

In [7]:
num = input('정수를 입력하세요 : ')

if num.isdigit():
    num = num[::-1]
    ret =''
    for i, c in enumerate(num):
        if i !=len(num) and i%3 ==0:
            ret+=(c,',')
        else :
            ret += c
            ret = ret[::-1]
            print(ret)
else : 
    print('잘못 입력하셨습니다.')

정수를 입력하세요 : 456123

TypeError: can only concatenate str (not "tuple") to str

#### 17. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요(내장함수 및 정규표현식 사용)

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',  
          'south   carolina##', 'West virginia?']  

[출력]
['Alabama',  
 'Georgia',  
 'Georgia',  
 'Georgia',  
 'Florida',  
 'South   Carolina',  
 'West Virginia']

#### 19. 발표할 인원을 입력하면 (파이썬의)랜덤으로 발표자를 리스트로 출력해주는 프로그램을 작성 후 다음을 수행하세요.(중복 허용하지 않음)
- 발표자 1명
- 발표자 5명
- 발표자 28명 전원

#### 20. 네이버 통합검색 사이트에서 빅데이터를 입력한 후 관련 뉴스의 타이틀만 선택하여 아래 포멧으로 출력하세요.

In [ ]:
1.'4년만에'…6개 보험사, 공공의료데이터 받는다(종합)
2.부산시 금융 빅데이터 센터 구축 공모사업 선정
3."중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"
4.소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다
5.KISA, 사이버보안 8억건 'AI 데이터셋' 구축 추진
6.농식품 공공데이터 개방…가격·요리정보 활용 높아
7.과학화훈련단 빅데이터 활용한 프로그램 만든다
8.세종대, 하계방학 빅데이터 분석실무2급 프로그램 운영
9.한국농수산식품유통공사, 범정부 빅데이터 플랫폼 연계 상담회 개최
10.KISA, '사이버보안' AI 데이터셋 구축 착수