In [8]:
# 사전으로 데이터프레임 생성(8행 5열)
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a1' : np.arange(1,9),
    'a2' : np.arange(11,19),
    'a3' : np.arange(21,29),
    'a4' : np.arange(31,39),
    'a5' : np.arange(41,49)
})
df

   a1  a2  a3  a4  a5
0   1  11  21  31  41
1   2  12  22  32  42
2   3  13  23  33  43
3   4  14  24  34  44
4   5  15  25  35  45
5   6  16  26  36  46
6   7  17  27  37  47
7   8  18  28  38  48

In [ ]:
# Q. 생성된 데이터프레임에서 아래 사항을 수행하세요.
- 열이름과 행이름 변경
- 3행만 출력
- 5열만 출력
- 3행 5열의 값 출력
- 4열의 값을 모두 0으로 변경
- 2,3행의 3열 값을 조회(2가지 방법)
- 6행의 2,3,4열의 값을 조회(2가지 방법)
- 2열을 Series와 DataFrame으로 각각 출력
- 2행 3열의 값을 2행 4열의 값과 동일하게 변경
- 2행 3열의 값과 2행 4열의 값을 동시에 만족하는 3,4열을 출력

In [9]:
# 열이름과 행이름 변경
df.rename(index={0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h',8:'i',9:'j'}, 
                 columns={'a1':'가','a2':'나','a3':'다','a4':'라','a5':'마'}, 
                 inplace=True)
df

   가   나   다   라   마
a  1  11  21  31  41
b  2  12  22  32  42
c  3  13  23  33  43
d  4  14  24  34  44
e  5  15  25  35  45
f  6  16  26  36  46
g  7  17  27  37  47
h  8  18  28  38  48

In [10]:
# 3행만 출력
print(df.loc['c'])
print(df.iloc[4])
df.query('가==3&나==13&다==23&라==33&마==43')[['가','나','다','라','마']]

가     3
나    13
다    23
라    33
마    43
Name: c, dtype: int32
가     5
나    15
다    25
라    35
마    45
Name: e, dtype: int32

   가   나   다   라   마
c  3  13  23  33  43

In [11]:
# 5열만 출력
print(df.iloc[:,4], '\n')
print(df.loc[:,'마'], '\n')
print(df.query('마==41|마==42|마==43|마==44|마==45|마==46|마==47|마==48')['마'])
print(df.마)
print(df['마'])

a    41
b    42
c    43
d    44
e    45
f    46
g    47
h    48
Name: 마, dtype: int32

a    41
b    42
c    43
d    44
e    45
f    46
g    47
h    48
Name: 마, dtype: int32

a    41
b    42
c    43
d    44
e    45
f    46
g    47
h    48
Name: 마, dtype: int32
a    41
b    42
c    43
d    44
e    45
f    46
g    47
h    48
Name: 마, dtype: int32
a    41
b    42
c    43
d    44
e    45
f    46
g    47
h    48
Name: 마, dtype: int32

In [12]:
#3행 5열의 값 출력
print(df.loc['c','마'])
print(df.iloc[2,4])
print(df.query('마==43')['마'])
print(df.iloc[2][4])
print(df.loc['c']['마'])

43
43
c    43
Name: 마, dtype: int32
43
43

In [13]:
# 4열의 값을 모두 0으로 변경
df1= df.copy()
df1.loc[:,'라'] = 0
df1

df1.iloc[:,3] = 0
df1

   가   나   다  라   마
a  1  11  21  0  41
b  2  12  22  0  42
c  3  13  23  0  43
d  4  14  24  0  44
e  5  15  25  0  45
f  6  16  26  0  46
g  7  17  27  0  47
h  8  18  28  0  48

In [19]:
# 2,3행의 3열 값을 조회(2가지 방법)
print(df.iloc[1][2])
print(df.loc['b']['다'])

22
22

In [21]:
print(df.iloc[[1,2],[2]])
print(df.loc[['b','c'],['다']])

    다
b  22
c  23
    다
b  22
c  23

In [90]:
# 6행의 2,3,4열의 값을 조회(2가지 방법)
print(df.iloc[5][1:4])
print(df.loc['f']['나':'마'])

나    16
다    26
라    36
Name: f, dtype: int64
나    16
다    26
라    36
마    46
Name: f, dtype: int64

In [94]:
# 2열을 Series와 DataFrame으로 각각 출력
df_1=pd.Series(df.나)
print(df_1)

df_2=pd.DataFrame(df.나)
df_2

a    11
b    12
c    13
d    14
e    15
f    16
g    17
h    18
Name: 나, dtype: int64

    나
a  11
b  12
c  13
d  14
e  15
f  16
g  17
h  18

In [39]:
print(df_2['나'],type(df_2['나']))
df_2[['나']]

a    11
b    12
c    13
d    14
e    15
f    16
g    17
h    18
Name: 나, dtype: int32 <class 'pandas.core.series.Series'>

    나
a  11
b  12
c  13
d  14
e  15
f  16
g  17
h  18

In [27]:
# 2행 3열의 값을 2행 4열의 값과 동일하게 변경
df_2 = df.copy()
df_2.iloc[1][2] = df_2.iloc[1][3]
df_2

   가   나   다   라   마
a  1  11  21  31  41
b  2  12  32  32  42
c  3  13  23  33  43
d  4  14  24  34  44
e  5  15  25  35  45
f  6  16  26  36  46
g  7  17  27  37  47
h  8  18  28  38  48

In [28]:
# 2행 3열의 값과 2행 4열의 값을 동시에 만족하는 3,4열을 출력
df_2.query('다==32')[['다','라']]

    다   라
b  32  32

In [35]:
df_2.query('index=="b"')[['다','라']]

    다   라
b  32  32

In [38]:
df_2.iloc[[1]].query("다==라")[["다","라"]]

    다   라
b  32  32