In [47]:
import numpy as np
import pandas as pd
from pandas.tseries.offsets import Day, MonthEnd

ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/1/2000', periods=20, freq='4d'))
ts

2000-01-01    0.857968
2000-01-05    0.766872
2000-01-09    1.392055
2000-01-13   -0.137339
2000-01-17    3.393151
2000-01-21    1.225819
2000-01-25    0.546863
2000-01-29    0.433397
2000-02-02    1.675494
2000-02-06    0.265131
2000-02-10   -1.980947
2000-02-14    1.194541
2000-02-18    0.249085
2000-02-22   -0.053942
2000-02-26    0.037326
2000-03-01    0.001547
2000-03-05   -0.266592
2000-03-09   -0.745126
2000-03-13   -1.314362
2000-03-17   -0.104372
Freq: 4D, dtype: float64

In [2]:
# 과제
# Q. offset.rollforward 기준으로 그룹화를 진행 후 그룹별 평균값을 출력하세요.
import numpy as np
import pandas as pd
from pandas.tseries.offsets import Day, MonthEnd, Week, MonthBegin

ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/1/2000', periods=20, freq='4d'))

# 1 
# 처음 썼던 오답, a = st.groupby('index').offsets.rollforward()
offset1 = MonthEnd()
a1 = ts.groupby(offset1.rollforward).mean()
a2 = ts.groupby(offset1.rollback).mean()
print('<첫번째그룹>')
print(a1)
print(a2,'\n')

# 2
offset2 = Day(3)
b1 = ts.groupby(offset2.rollforward).mean()
b2 = ts.groupby(offset2.rollback).mean()
print('<두번째그룹>')
print(b1)
print(b2,'\n')

# 3
offset3 = Week()
c1 = ts.groupby(offset3.rollforward).mean()
c2 = ts.groupby(offset3.rollback).mean()
print('<세번째그룹>')
print(c1)
print(c2, '\n')

# 4
offset4 = MonthBegin()
d1 = ts.groupby(offset4.rollforward).mean()
d2 = ts.groupby(offset4.rollback).mean()
print('<네번째그룹>')
print(d1)
print(d2, '\n')

<첫번째그룹>
2000-01-31    0.167043
2000-02-29    0.747151
2000-03-31    0.730329
dtype: float64
1999-12-31    0.167043
2000-01-31    0.747151
2000-02-29    0.730329
dtype: float64

<두번째그룹>
2000-01-01    0.196642
2000-01-05    1.640873
2000-01-09    0.713995
2000-01-13    0.170618
2000-01-17   -0.224360
2000-01-21    1.182101
2000-01-25   -1.740179
2000-01-29   -0.603347
2000-02-02   -0.148286
2000-02-06   -0.739022
2000-02-10    0.721777
2000-02-14    0.046035
2000-02-18    2.208280
2000-02-22    1.771675
2000-02-26    1.369602
2000-03-01    0.139742
2000-03-05    1.186338
2000-03-09    0.709406
2000-03-13    1.225962
2000-03-17    0.390197
dtype: float64
2000-01-01    0.196642
2000-01-05    1.640873
2000-01-09    0.713995
2000-01-13    0.170618
2000-01-17   -0.224360
2000-01-21    1.182101
2000-01-25   -1.740179
2000-01-29   -0.603347
2000-02-02   -0.148286
2000-02-06   -0.739022
2000-02-10    0.721777
2000-02-14    0.046035
2000-02-18    2.208280
2000-02-22    1.771675
2000-02-26    1.369602
2000-03-01    0.139742
2000-03-05    1.186338
2000-03-09    0.709406
2000-03-13    1.225962
2000-03-17    0.390197
dtype: float64

<세번째그룹>
2000-01-01    0.196642
2000-01-05    1.640873
2000-01-09    0.713995
2000-01-13    0.170618
2000-01-17   -0.224360
2000-01-21    1.182101
2000-01-25   -1.740179
2000-01-29   -0.603347
2000-02-02   -0.148286
2000-02-06   -0.739022
2000-02-10    0.721777
2000-02-14    0.046035
2000-02-18    2.208280
2000-02-22    1.771675
2000-02-26    1.369602
2000-03-01    0.139742
2000-03-05    1.186338
2000-03-09    0.709406
2000-03-13    1.225962
2000-03-17    0.390197
dtype: float64
2000-01-01    0.196642
2000-01-05    1.640873
2000-01-09    0.713995
2000-01-13    0.170618
2000-01-17   -0.224360
2000-01-21    1.182101
2000-01-25   -1.740179
2000-01-29   -0.603347
2000-02-02   -0.148286
2000-02-06   -0.739022
2000-02-10    0.721777
2000-02-14    0.046035
2000-02-18    2.208280
2000-02-22    1.771675
2000-02-26    1.369602
2000-03-01    0.139742
2000-03-05    1.186338
2000-03-09    0.709406
2000-03-13    1.225962
2000-03-17    0.390197
dtype: float64

<네번째그룹>
2000-01-01    0.196642
2000-02-01    0.162814
2000-03-01    0.671225
2000-04-01    0.877976
dtype: float64
2000-01-01    0.167043
2000-02-01    0.747151
2000-03-01    0.730329
dtype: float64

In [226]:
# 과제
# Q. 상기 문제를 resample을 사용하여 수행하세요. (위에 했던걸 resample로만 바꾸면 됨)
# 1 

a= ts.resample('M').mean()
print('<첫번째그룹>')
print(a)

# 2
b=ts.resample('D').mean()
print('<두번째그룹>')
print(b)

# 3
c=ts.resample('W-MON').mean()
print('<세번째그룹>')
print(c)

# 4
d=ts.resample('MS').mean()
print('<네번째그룹>')
print(d)

<첫번째그룹>
2000-01-31    0.611594
2000-02-29   -0.296379
2000-03-31   -0.135411
Freq: M, dtype: float64
<두번째그룹>
2000-01-01    0.543080
2000-01-02         NaN
2000-01-03         NaN
2000-01-04         NaN
2000-01-05   -0.732200
                ...
2000-03-13    0.384499
2000-03-14         NaN
2000-03-15         NaN
2000-03-16         NaN
2000-03-17    1.946771
Freq: D, Length: 77, dtype: float64
<세번째그룹>
2000-01-03    0.543080
2000-01-10   -0.233593
2000-01-17    1.724437
2000-01-24    0.515796
2000-01-31    0.426093
2000-02-07   -0.950068
2000-02-14    0.388870
2000-02-21    0.561606
2000-02-28   -0.756931
2000-03-06   -1.632253
2000-03-13    0.320341
2000-03-20    1.946771
Freq: W-MON, dtype: float64
<네번째그룹>
2000-01-01    0.611594
2000-02-01   -0.296379
2000-03-01   -0.135411
Freq: MS, dtype: float64

In [39]:
# 과제 - 교통사고?
# Q. 날짜 데이터를 인덱스로 하는 5가지 이상의 컬럼을 포함하고 있는 데이터 셋을 생성하세요.
# 단 각 컬럼은 인덱스별 의미있는 값을 갖도록 만든 후 다음을 수행하세요
# - 특정 연별, 월별, 일별 특정 컬럼 값 집계
# - 인덱스를 실수형으로 변환 후 다시 datetime으로 변환
# - 인덱스의 포멧을 변환
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
import json

url = 'http://openapi.seoul.go.kr:8088/62664a6464616a6435395059547369/xml/Corona19Status/1/5/'

bs1 = bs(url, 'html.parser')


import json 
from urllib.request import Request, urlopen
from urllib.parse import urlencde 


url = 'https://api.odcloud.kr/api/15072467/v1/uddi:60ad50ac-404c-4c71-83b1-90e951b9d6d5?page=1&perPage=10&serviceKey=TXLLYjCoXnZdrc03qAO3pWniezKZFk5Wj7UX56JxEqgo8wD3GCIrt7y7lzXx3fR2EG0FxTjjIYbeJLsnSrJVOg%3D%3D'
request = Request(url)

with urlopen(request) as response:
    data = json.loads(response.read().decode('utf-8'))
    
print(data)


for i in range(5):
    i += 1
    url = 'http://openapi.seoul.go.kr:8088/62664a6464616a6435395059547369/xml/Corona19Status/1/5/'

    request = Request(url)
    
    with urlopen(request) as response:
        data = json.loads(response.read().decode('utf-8'))
        
    print(data['data'])

/Applications/anaconda3/envs/cakd3/lib/python3.9/site-packages/bs4/__init__.py:417: MarkupResemblesLocatorWarning: "http://openapi.seoul.go.kr:8088/62664a6464616a6435395059547369/xml/Corona19Status/1/5/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [34]:
import requests
from bs4 import BeautifulSoup as bs
from urllib import parse
import pandas as pd

serviceKey = 's7DW%2FVy%2BnER1fCHT8PxT8ncaMoRs1ngmAbVAQT2OzyK9DWXqfF3m7E8Rc%2BwCyrNt2LTzRRFU6O4YuUnNgRWjAQ%3D%3D'
param = {'ServiceKey': parse.unquote(serviceKey).
        'startCreateDt': 20200310,
        'endCreateDt': 20200414}

url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19NatInfStateJson'

res = request.get(url, params=params)
soup=bs(res.text, 'lxml')

print(soup)

SyntaxError: invalid syntax (<ipython-input-34-6cfc95493d76>, line 8)

In [38]:
import requests
from bs4 import BeautifulSoup as bs
from urllib import parse
import pandas as pd

serviceKey = 's7DW%2FVy%2BnER1fCHT8PxT8ncaMoRs1ngmAbVAQT2OzyK9DWXqfF3m7E8Rc%2BwCyrNt2LTzRRFU6O4YuUnNgRWjAQ%3D%3D'
params = {'ServiceKey':parse.unquote(serviceKey), # 서비스키(필수)
          'startCreateDt':20201201, # 데이터 생성일 시작범위(선택)
          'endCreateDt':20201202 # 데이터 생성일 종료범위(선택)
# 서비스URL
url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19NatInfStateJson'

res = requests.get(url, params=params)
soup = bs(res.text, 'lxml')

# 결과 출력
print(soup)

SyntaxError: invalid syntax (<ipython-input-38-38298281e2f3>, line 11)

In [40]:
# open API 는 접어두고 그냥이라도 해보자 - 김진님거 참고

import numpy as np
dates = pd.date_range('1/1/2020', periods=100, freq='W-SAT')
print(dates, type(dates))

DatetimeIndex(['2020-01-04', '2020-01-11', '2020-01-18', '2020-01-25',
               '2020-02-01', '2020-02-08', '2020-02-15', '2020-02-22',
               '2020-02-29', '2020-03-07', '2020-03-14', '2020-03-21',
               '2020-03-28', '2020-04-04', '2020-04-11', '2020-04-18',
               '2020-04-25', '2020-05-02', '2020-05-09', '2020-05-16',
               '2020-05-23', '2020-05-30', '2020-06-06', '2020-06-13',
               '2020-06-20', '2020-06-27', '2020-07-04', '2020-07-11',
               '2020-07-18', '2020-07-25', '2020-08-01', '2020-08-08',
               '2020-08-15', '2020-08-22', '2020-08-29', '2020-09-05',
               '2020-09-12', '2020-09-19', '2020-09-26', '2020-10-03',
               '2020-10-10', '2020-10-17', '2020-10-24', '2020-10-31',
               '2020-11-07', '2020-11-14', '2020-11-21', '2020-11-28',
               '2020-12-05', '2020-12-12', '2020-12-19', '2020-12-26',
               '2021-01-02', '2021-01-09', '2021-01-16', '2021-01-23',
               '2021-01-30', '2021-02-06', '2021-02-13', '2021-02-20',
               '2021-02-27', '2021-03-06', '2021-03-13', '2021-03-20',
               '2021-03-27', '2021-04-03', '2021-04-10', '2021-04-17',
               '2021-04-24', '2021-05-01', '2021-05-08', '2021-05-15',
               '2021-05-22', '2021-05-29', '2021-06-05', '2021-06-12',
               '2021-06-19', '2021-06-26', '2021-07-03', '2021-07-10',
               '2021-07-17', '2021-07-24', '2021-07-31', '2021-08-07',
               '2021-08-14', '2021-08-21', '2021-08-28', '2021-09-04',
               '2021-09-11', '2021-09-18', '2021-09-25', '2021-10-02',
               '2021-10-09', '2021-10-16', '2021-10-23', '2021-10-30',
               '2021-11-06', '2021-11-13', '2021-11-20', '2021-11-27'],
              dtype='datetime64[ns]', freq='W-SAT') <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [71]:
# 외싯 횟수
df = pd.DataFrame(np.random.randn(100,5),
                 index=dates,
                 columns=['버거','떡볶이','한식','마라','샐러드'])
df.index.name = "음식 먹은 날"
display(df)

                  버거       떡볶이        한식        마라       샐러드
음식 먹은 날
2020-01-04 -0.653960  0.602383  0.132878  1.547147 -0.385943
2020-01-11 -0.227849 -0.683462  0.903441 -0.552901 -0.214718
2020-01-18 -0.935458  0.336716  0.027515 -0.291780 -0.289003
2020-01-25 -0.053784  0.357549  0.262188  1.471549  1.687223
2020-02-01  0.451794  2.163194  1.466435 -1.385151 -0.436770
...              ...       ...       ...       ...       ...
2021-10-30  0.474578 -0.967593 -0.194785  0.421541 -0.700418
2021-11-06  1.086730 -0.557192  0.142773 -0.539284 -0.984277
2021-11-13  3.214417  0.664622  0.101889 -1.134479  0.103699
2021-11-20 -1.319796 -2.367326  1.031196  0.216723  1.588275
2021-11-27 -1.799844 -1.671403  1.104921 -1.612756 -0.743274

[100 rows x 5 columns]

In [72]:
# 연도별 집계
e_y = df.resample('Y').count()
display(e_y)
# 월별 집계
e_m = df.resample('M').count()
display(e_m)
# 일별 집계
e_d = df.resample('D').count()
display(e_d)

            버거  떡볶이  한식  마라  샐러드
음식 먹은 날
2020-12-31  52   52  52  52   52
2021-12-31  48   48  48  48   48

            버거  떡볶이  한식  마라  샐러드
음식 먹은 날
2020-01-31   4    4   4   4    4
2020-02-29   5    5   5   5    5
2020-03-31   4    4   4   4    4
2020-04-30   4    4   4   4    4
2020-05-31   5    5   5   5    5
2020-06-30   4    4   4   4    4
2020-07-31   4    4   4   4    4
2020-08-31   5    5   5   5    5
2020-09-30   4    4   4   4    4
2020-10-31   5    5   5   5    5
2020-11-30   4    4   4   4    4
2020-12-31   4    4   4   4    4
2021-01-31   5    5   5   5    5
2021-02-28   4    4   4   4    4
2021-03-31   4    4   4   4    4
2021-04-30   4    4   4   4    4
2021-05-31   5    5   5   5    5
2021-06-30   4    4   4   4    4
2021-07-31   5    5   5   5    5
2021-08-31   4    4   4   4    4
2021-09-30   4    4   4   4    4
2021-10-31   5    5   5   5    5
2021-11-30   4    4   4   4    4

            버거  떡볶이  한식  마라  샐러드
음식 먹은 날
2020-01-04   1    1   1   1    1
2020-01-05   0    0   0   0    0
2020-01-06   0    0   0   0    0
2020-01-07   0    0   0   0    0
2020-01-08   0    0   0   0    0
...         ..  ...  ..  ..  ...
2021-11-23   0    0   0   0    0
2021-11-24   0    0   0   0    0
2021-11-25   0    0   0   0    0
2021-11-26   0    0   0   0    0
2021-11-27   1    1   1   1    1

[694 rows x 5 columns]

In [81]:
# 인덱스를 실수형으로 변환 후 다시 datetime으로 변환
from datetime import datetime
df['먹은날'] = df.index
df['먹은날'] = df['먹은날'].apply(lambda x : str(x))

df = df.set_index('먹은날')
df.reset_index(inplace=True)

In [86]:
# 실수를 datetime으로 변환

df['먹은날'] = pd.to_datetime(df['먹은날'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   먹은날     100 non-null    datetime64[ns]
 1   버거      100 non-null    float64
 2   떡볶이     100 non-null    float64
 3   한식      100 non-null    float64
 4   마라      100 non-null    float64
 5   샐러드     100 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 4.8 KB