In [2]:
import pandas as pd
import numpy as np

### 과제1
Q. '/Users/joy/Documents/GitHub/0Oong/수업내용/dataset/5_2_shoes.csv'을 데이터프레임으로 불러와서 아래작업을 수행하세요.
- 4행 3열을 복사하여 수직으로 결합해 8행 3열의 데이터프레임 df로 만드세요.
- 교차분석표를 만드세요(values='sales', aggfunc='sum', index='sotre', columns='color')
- 독립성 검정을 수행하세요.

In [9]:
# 4행 3열을 복사하여 수직으로 결합해 8행 3열의 데이터프레임 df로 만드세요.
df1 = pd.read_csv('/Users/joy/Documents/GitHub/0Oong/수업내용/dataset/5_2_shoes.csv')
df2 = pd.read_csv('/Users/joy/Documents/GitHub/0Oong/수업내용/dataset/5_2_shoes.csv')
df = pd.concat([df1,df2], axis=0)
df

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [11]:
# 교차분석표를 만드세요(values='sales', aggfunc='sum', index='sotre', columns='color')
pd.pivot_table(df, values='sales', aggfunc='sum', index='store', columns='color')

color  blue  red
store
osaka    26   18
tokyo    20   30

In [ ]:
# 독립성 검정을 수행하세요.

### 과제2
Q. 선형모델을 생성하고 summary를 출력하여 모델에 대한 통계지표들을 해석하세요.  
    
df = pd.read_csv('/Users/joy/Documents/GitHub/0Oong/수업내용/dataset/auto-mpg.csv')  
df_mw=df[['mpg','weight']]
df_mw.head()