In [ ]:
#샘플의 수가 많을 수록 모집단에 가까워진다 (물리적으로 어려우나 원리적으로는 그렇다)

[모집단 분포와 표본분포]
- 모집단: 어떤 통계적 실험의 대상이 되는 모든 대상물. ex. 대한민국 모든 남성의 키 데이터, 2018 수능점수 데이터
- 모집단 분포: 모집단은 데이터 집단이므로 어떠한 분포를 이루며 이 데이터가 이루는 확률 분포가 모집단 분포
- 모수: 모집단의 특성을 나타내는 수치로 모평균, 모분산, 모표준편차, 모비율, 모상관관계 등 수능점수 전체데이터를 알고 싶은 것이 아니라 전체 수능점수 평균, 표준편차를 알고 싶어한다. 수능점수와 달리 일반적으로 대부분의 모집단 분포는 완전하게 알려진 것이 없으며 전수조사는 경제적, 공간적, 시간적 제약으로 인해 거의 불가능


- 표본: 모집단의 모수(특성)을 알기 위하여 표본을 추출해서 모집단의 모수를 추정
- 확률표본: 모집단을 구성하는 모든 구성원이 표본으로 뽑힐 확률을 동일하게 하여 추출한 표본. Random이란 무작위라는 의미로, 어떠한 의도를 가지지 않는다는 것을 의미하며, 모든 구 성원이 뽑힐 확률이 동일하다는 개념
- 통계량: 확률표본의 특성을 설명하는 값으로 표본평균, 표본분산, 표본표준편차, 표본비율, 표본상관관계 등\
모수는 모집단이 변하지 않기 때문에 그 값이 변하지 않으나 통계량은 표본을 어떻게 추출하 느냐에 따라서 그 값이 다르게 나타난다.
- 확률변수: 무작위 실험을 했을 때 특정 확률로 발생하는 각각의 결과를 수치값으로 표현한 변
수, 동전의 앞과 뒤
- 확률분포: 확률변수 X의 모든 값과 그 에 대응하는 확률값들의 분포, 동전의 앞 0.5, 뒤 0.5\
무작위로 표본 30개씩 반복해서 100번 추출하면 100번 추출한 표본 30개의 평균값들을 100 개 구할 수 있다. 추출된 표본들의 각 평균값들에 대한 발생 분포를 그려보면 특정 확률변수에 대응하는 확률을 가진 확률 분포를 그릴 수 있다. 이것을 통계량의 확률분포라고 할 수 있고 이를 표본분포라고 부른다.
- 통계량이 확률 변수라는 의미: 확률변수의 확률분포가 수학적으로 설명가능한 분포(예, 정규
분포)를 따른다고 하면 특정 확률변수와 확률함수를 알고 있다면 특정 사건이 일어날 확률을 계산할 수 있으며 더 나아가 모수와 통계량의 관계를 알고 있다면 그것을 통해 모수에 대한 통 계적인 추정을 할 수 있다. 즉 통계량의 확률 함수 또는 표본 분포를 안다고 가정하면 이를 이 용해 모수를 추정할 수 있다.

- 분산 : 데이터와 평균값의 간의 거리

In [1]:
import numpy as np 
import pandas as pd

fish_data = np.array([2,3,3,4,4,4,4,5,5,6])
fish_data

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6])

In [2]:
np.sum(fish_data)

40

In [3]:
len(fish_data)

10

In [5]:
#평균 
N = len(fish_data)
sum_value = np.sum(fish_data)
mu = sum_value / N
mu

4.0

In [6]:
np.mean(fish_data)

4.0

In [8]:
#표본분산 
sigma_2_sample = np.sum((fish_data-mu)**2) / N
sigma_2_sample

1.2

In [9]:
fish_data.var()

1.2

In [10]:
np.var(fish_data)

1.2

In [11]:
# ddof=1으로 하면 값이 퍼짐
np.var(fish_data,ddof=1)

1.3333333333333333

In [12]:
np.std(fish_data)

1.0954451150103321

In [13]:
#표본분산 
np.var(fish_data,ddof=0)

1.2

In [14]:
#표준편차 
np.std(fish_data,ddof=0)

1.0954451150103321

In [15]:
#불편분산
np.var(fish_data,ddof=1)

1.3333333333333333

In [17]:
#불편 표준 편차 
np.std(fish_data,ddof=1)

1.1547005383792515

In [19]:
#소수점 2번째 자리까지 (1번버전)
np.std(fish_data,ddof=1).round(2)

#소수점 2번째 자리까지 (2번 버전)
std2 = np.std(fish_data,ddof=1).round(2)

np.round(std2,2)

1.15

In [35]:
# a의 평균, 분산, 표준편차, 편차의 평균 구하기 
#분산과 표준편차는 n-1 적용
a = np.arange(15)

#평균
m = np.mean(a)
#분산
v = np.var(a, ddof=1)
#표준편차
s = np.std(a, ddof=1)

print(m)
print(v)
print(s)

#편차평균 구하기 
np.mean(a-m)

7.0
20.0
4.47213595499958

0.0

* 편차 평균이 왜 0이 나올까?
원소들 : 5, 6, 7
3개 수의 평균은 0 

- 5-6 =-1
- 6-6 =0
- 7-6 =1

* 결과 0

### 편차평균이 왜 0이 나올까
ar = np.arange(15)
print(ar)
print(ar-7) 을 해보시면

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[-7 -6 -5 -4 -3 -2 -1  0  1  2  3  4  5  6  7]

이런 값이 나오니.. 아래가 편차에요

# 식 : print(a-m)

In [ ]:
### 중앙값 : 중간에 있는 값
### 이상치가 있으면 중앙값을 더 참고해야 한다

In [40]:
### 사분위수 구하는 방법 (25%, 75%)
from scipy import stats
stats.scoreatpercentile(fish_data, 25)
stats.scoreatpercentile(fish_data, 75)

4.75

In [39]:
fish_data

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6])

In [41]:
### 사분위수 구하는 방법 (25%, 75%)
stats.scoreatpercentile(fish_data,[25,75])

array([3.25, 4.75])

In [44]:
fish_data2 = np.array([2,3,3,4,4,4,4,5,5,6,100])

In [46]:
print(fish_data2)
print('평균 : ', fish_data2.mean().round(2))
print('중앙값 : ', np.median(fish_data2))

[  2   3   3   4   4   4   4   5   5   6 100]
평균 :  12.73
중앙값 :  4.0

In [5]:
import pandas as pd

fish_multi = pd.read_csv('/Users/chuka/Desktop/cakd3/stats/5_2_fm.csv')
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [6]:
group=fish_multi.groupby('species')
print(group.mean())
print(group.std(ddof=1))
group.describe()

         length
species
A             3
B             8
         length
species
A           1.0
B           2.0

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [7]:
group=pd.read_csv('/Users/chuka/Desktop/cakd3/stats/5_2_fm.csv')
print(group.mean())
print(group.std(ddof=1))
group.describe()

length    5.5
dtype: float64
length    3.082207
dtype: float64

          length
count   6.000000
mean    5.500000
std     3.082207
min     2.000000
25%     3.250000
50%     5.000000
75%     7.500000
max    10.000000

In [49]:
fish_multi.groupby('species').agg(['mean','var','std'])

NameError: name 'fish_multi' is not defined

In [8]:
#그룹별 통계량 계산
grouped = fish_multi.groupby('species')
display(grouped.mean())
display(grouped.std())
grouped.describe()


#제발 짧게 쓰자
display(fish_multi.groupby('species').agg(['mean','var','std']))

         length
species
A             3
B             8

         length
species
A           1.0
B           2.0

        length
          mean var  std
species
A            3   1  1.0
B            8   4  2.0

In [60]:
cov_data=pd.read_csv('/Users/chuka/Desktop/cakd3/stats/4_cov.csv')
print(cov_data)
print(cov_data.std(ddof=1))

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49
x    1.909508
y    5.292552
dtype: float64

In [67]:
#공분산 행렬 구하기 
import scipy as sp 
import numpy as np

np.cov(cov_data.x,cov_data.y,ddof=1)

array([[ 3.64622222,  7.67333333],
       [ 7.67333333, 28.01111111]])

In [59]:
cov_data.head()

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8

In [61]:
# 공분산 
# x 의 편차, y 의 편차를 곱해서 합산한 뒤
# N-1 로 나눈다.

xm = np.mean(cov_data['x'])
ym = np.mean(cov_data['y'])

np.sum((cov_data['x']-xm) * (cov_data['y'] -ym))/(len(cov_data)-1)

7.673333333333336

In [62]:
#공분산 x, y / 길이 / 평균
# sum((x - x평균) * (y - y평균)) / n-1   

x = cov_data['x']
y = cov_data['y']

xN = len(x)
yN = len(y)

x_sum = np.sum(x)
y_sum = np.sum(y)


x_mu = x_sum / xN
y_mu = x_sum / yN

cor_v = (( x - x_mu) * ( y - y_mu)) / (xN-1)

cor_v

0   -3.634400
1   -4.634844
2   -4.262400
3   -2.490400
4    1.278933
5    1.509600
6    2.684933
7    2.502267
8    6.076933
9    8.642711
dtype: float64

In [69]:
#상관 행렬 
np.corrcoef(cov_data.x,cov_data.y)

array([[1.       , 0.7592719],
       [0.7592719, 1.       ]])

In [ ]:
#상관계수 풀어서 구하기