## python 기초

파이썬 버전 확인

In [2]:
!python -V

Python 3.8.10

표현식

In [5]:
273
10+20+30

60

다 출력하고 싶다면 print를 써줘야함, 맨끝은 프린트 안써줘도 나옴

In [10]:
#표현식
print(273)
print(10+20+30)
"python programming"

273
60

'python programming'

In [11]:
#표현식이 하나 이상 모이면 문장
print(52, 'Hello Python', 5+3)

52 Hello Python 8

In [12]:
a=1
b=2
c=a+b
print(c)

3

In [13]:
#세미콜론은 줄 바꾸는 것과 마찬가지, 문장이 모여서 프로그램
a=1;b=2;c=a+b
print(c)

3

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

식별자의 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_)만 사용한다.
- 숫자로 시작하면 안된다. 
- 공백을 포함할 수 없다.

In [17]:
alpha
break #키워드라 안됨
alpha10
_alpha
273alpha #숫자가 맨 앞 안됨
AlpHa
ALPHA
has space #공백있어서 안됨

SyntaxError: invalid syntax (<ipython-input-17-f25f5455f5da>, line 5)

파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist item_list (얘가 snake_case) ItemList (대문자+소문자, 대문자+소문자 이렇게 쓰는 거를 CamelCase라고함)
- longinstatus를 각각 snake_case와 CamelCase로 써보자 -> login_status, LogInStatus
- 캐멀 케이스는 (문자로 시작) 주로 __클래스 이름
- 스네이크 케이스 (소문자로 시작) 뒤에()가 있으면 얘는 __함수
- 스네이크 케이스 (소문자로 시작) 뒤에()가 없으면 얘는 __변수

In [18]:
#사람이 생각하는 방식을 그대로 표현할 수 있는 언어, 파이썬
if 3 in [1,2,3,4]: print('3이 있습니다')

3이 있습니다

In [19]:
#파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 #8진수 00 또는 00으로 시작
f = 0xABC #16진수 0x로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

123
-123
0
1.23
127
2748

In [28]:
#사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b 
f = a % b #나눠서 나머지가 나옴
g = a //b #나눠서 몫이 나옴
h = 2 ** 2 #제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
4

In [35]:
#다른 타입간 연산은 안됨. 
sring = "문자열"
number = 273
#string + number는 안됨 에러남

In [36]:
a = 10
a = "문자"
a = 100
#여기서 a 출력하면 100이 출력됨(같은게 있으면 마지막걸로 출력)
type(a) #그래서 타입 하면 마지막인 정수, int가 나옴

int

In [41]:
#복합 대입 연산자
num = 10 
num += 10 #10을 더한다음에 이퀄이라는 뜻으로, num이 있는데 거기에 10을 더한 상태를 num으로 하라는 상태로 그럼  num은 20임
num *= 10 #그리고 20이 된 num에 10을 곱한게 num이 된거임.
num

200

In [43]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요.

'안녕하세요.'

In [179]:
num= input('숫자를 입력하세요: ')
print(num) #하지만 이때 작성해서 출력되는 숫자의 타입은 문자임
type(num)

숫자를 입력하세요: 1
1

str

In [47]:
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print (num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [49]:
# Q. 아래에서 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
a = 3
b = 3.3
print(a+b)

6.3

In [62]:
# A.
String_a = input("입력A> ")
int_a = int(String_a)
String_b = input("입력B> ")
float_b = float(String_b)
print(int_a + float_b)

입력A> 3
입력B> 3.3
6.3

In [53]:
# Q. a = 52와 b = 52.273일 때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 
# 자료형으로 변환하세요. 
a = 52
b = 52.273
a_1 = str(a)
b_1 = str(b)
print(a_1 + b_1)

5252.273

In [181]:
#A.
a = str(52)
b = str(52.273)
print(a+b)

5252.273

In [63]:
"", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [66]:
s1 = '"python is valualbe" he says'

In [69]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [73]:
y1 ="Once you study data and analysis\nYou need Python"
print(y1)
y2 ='''Once you study data and analysis
You need Python'''
print(y2)
y3 ="""Once you study data and analysis
You need Python"""
print(y3)

Once you study data and analysis
You need Python
Once you study data and analysis
You need Python
Once you study data and analysis
You need Python

In [77]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [78]:
# 자료형 - List
# 리스트는 [] {} () 대, 중, 소 괄호일 때 대괄호로 표시함 []안의 요소를 콤마로 구분하여 순서있게 나열한다. 
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [87]:
# 인덱싱, 파이썬은 인덱스 번호가 0부터 시작함, 맨끝은 뒤에서 세면 -1, 

list1 = [1,2,3,4,5]
list1[0] #0번째
list1[:] #처음부터 끝까지면 콜론만 써도됨
list1[1:3]#1에서2까지
list3[3][4] #list3에 들어있는 리스트 안의 5를 출력하고자 할 때
list3[4][1] #list3에 들어있는 두번째 리스트 안의 'b' 를 출력하고자 할 때

'b'

In [93]:
#리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
#a의 0을 1로 바꾸고 싶어
a[0]=1 #0자리가 1이 됨
a
b[1]='a' #1번자리를 a로 바꾸고싶음
b
#맨 앞 a를 지우고 싶을 때
del b[0]
print(b)

['a', 'c']

In [99]:
c = a + b
c[-1]=1
c
c[-2]=2
c

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

In [1]:
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort() #올림차수로 정렬
print(s)
#내림차수로 정렬1
s_d = sorted(s, reverse=True)
print(s_d)
#내림차수로 정렬2
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [115]:
#인덱스 위치 반환
import numpy as np #numpy를 앞으로 np로 쓰겠다는 약자
c = np.random.randint(100,size=100).tolist() #numpy를 import해야 쓸 수 있는 것
print(c)
c.index(65)

[58, 64, 92, 98, 25, 37, 86, 98, 39, 79, 39, 99, 95, 38, 89, 31, 13, 61, 5, 81, 60, 63, 19, 92, 41, 44, 43, 4, 63, 80, 93, 32, 18, 17, 38, 73, 4, 46, 13, 95, 72, 74, 53, 44, 81, 32, 65, 29, 13, 11, 85, 6, 69, 0, 16, 82, 1, 53, 59, 9, 55, 3, 75, 93, 34, 34, 5, 10, 26, 89, 61, 99, 38, 77, 64, 6, 39, 29, 71, 24, 19, 78, 3, 5, 31, 85, 87, 3, 49, 37, 42, 29, 38, 22, 4, 43, 60, 40, 67, 10]

46

In [116]:
#개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(3))#3이 몇 번 있는 지 세어줌

3

In [1]:
#리스트 확장(2개이상)
h = [1,2,3]
h.extend([4,5])
print(h)
#하나 추가
h.append(6)
print(h)
h.insert(0, 5)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

In [122]:
#자료형 - tuple
#튜플,리스트와 변경하지만 주의해야할점,튜플의 요소값은 변경할 수 없다-> 프로그램에서 그 값이 항상 변하지 않아야 되는 경우 사용
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[2]
tuple3[3][4]
tuple3[4][1]

'abc'

In [ ]:
list1[0]=6
print(list1)

In [132]:
#이렇게 하면 오류난다. tuple은 변경 불가라, tuple1[0]=6 print(tuple1)

#또 다른 튜플의 원칙은 한개의 원소를 가질 때는 뒤에 __반드시 콤마를 붙여야함
t1 =(1,)
print(t1)
t2 = 1,2,3 #tuple은 괄호 없이도 쓸 수 있음
print(t2) 
print(t2 * 3)
t3 = t1 + t2
print(t3)
type(t3)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)

tuple

In [136]:
#자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3} # 앞에 있는게 키, 뒤에있는게 값, 중괄호로 돼 있음
#얘는 인덱스가 없음 순서가 없기 때문에. 값을 찾기 위해서는 키를 넣어줘야함
print(d1['a'])
#순서도 키 값으로 바꿈
d1['b'] = 5 
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [141]:
#여기서 키들만 뽑고 싶을 때
print(d1.keys())
#값만 뽑고싶을 때
print(d1.values())
#키와 값 모두 뽑고 싶을 때
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [142]:
#자료형 - 집합, 영어로 set(중복을 허용하지 않으며 순서가 없다.) 순서가 없음으로 따라서 인덱스도 없음
s1 = set([1,2,5,4,3])
s2 = set('hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'h', 'e', 'o', 'l'}

In [143]:
#집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
e

In [148]:
#Q, s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
#합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

list_1 = list(s1)
list_2 = list(s2)
print(list_1 + list_2)

[1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]
{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [149]:
#A
s3 = list(s1|s2)
s4 = list(s1&s2)
print(s3)
print(s4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [150]:
# 들여쓰기 - 안하면 에러남 
li = ['a', 'b', 'c']
if 'a' in li: 
    print('a가 li에 있습니다.')
else: 
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [152]:
#포멧 함수 방법이 총 세개
f1 = "{} 선수가 {}등입니다.".format('홍길동', 1)
f2 = "{1} 선수가 {0}등입니다.".format(1, '홍길동')
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1)) #문자일때는 s, 숫자는 d

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [155]:
print("%s은 %s보다 %d배 쉽습니다." %("파이썬", "자바", 2))
f2 = "{}은 {}보다 {}배 쉽습니다.".format("파이썬", "자바", 2)
print(f2)

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다.

In [160]:
ex2 = 12345
f2 = '{:d}'.format(ex2)
print(f2)
f3 = '{:10d}'.format(ex2) #10이 자릿수임. 10자리를 잡아줘야하니까 12345가 뒤로가있는거
print(f3)
ex3 = 121.3456789
f4 = '{:f}'.format(ex3) #d는 정수 f는 실수
print(f4)
f5 = '{:15.2f}'.format(ex3) #소수점 자리를 2자리까지만 나타내겠다는 뜻, 15자리를 잡아주겠다는 뜻
print(f5)

12345
     12345
121.345679
         121.35

In [164]:
#제어문 - if~elif~else
#Q. 수입과 지출금액을 비교해서 수입이 많으면 저축증가, 반대면 빚이 증가, 같으면 현상유지
i = 5,000,000
e = 4,000,000 

if i > e: 
    print('저축증가')
elif i < e:
    print('빚이 증가')
else :
    print('현상유지')

저축증가

In [6]:
#for 반복문, 범위가 지정돼 있는 것을 반복, while은 조건이 만족하는한으로 무한 반복
numbers = [5,15,6,20,7,25] #얘의 자료형은 리스트
for number in numbers:
    
    print(number, end=' ') #세로 출력이 보기 싫다면

5 5
15 15
6 6
20 20
7 7
25 25

In [168]:
# 5를 2로 나누었을 때의 몫과 나머지를 구하세요

In [169]:
# 101의 3승을 구하시오

In [170]:
#파이썬과 3.8.3을 합쳐서 파이썬 3.8.3으로 출력하시오

In [172]:
#a = 5, a='10' a=15일때 a의 자료형은 무엇인가?

In [173]:
#5의 3승을 3으로 나누었을 때의 나머지를 복합 대입 연산자를 이용해서 구하세요

In [174]:
# 이름을 물어보고 답하는 내용을 출력하세요

In [175]:
#숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때 몫을 구하세요

In [ ]:
#1부터 5까지 입력해서 12345를 출력하세요.

In [176]:
#[0,1,2,3,4,5,6,7,8,9,'a',b','c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [176]:
#[0,1,2,3,4,5,6,7,8,9,'b','c']에서 'c'를 삭제 후 출력하세요.

In [177]:
#[4,8,5,4,6,4,3,8,1,9]를 내림차순으로 정렬하세요

In [178]:
#Q.태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
#원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양

## Q 계절 구분 프로그램
- 시나리오 : 3~5월은 봄, 6~8월은 여름, 9~11월은 가을, 12~2월은 겨울로 구분, 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [20]:
import datetime
t = datetime.datetime.now()
t

datetime.datetime(2021, 6, 23, 10, 17, 11, 27743)

In [23]:
import datetime
now = datetime.datetime.now()

print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")

2021 년
6 월
23 일
10 시
20 분
4 초

In [2]:
#제어문 - for~continue~break
#1~10 범위의 정수에서 1부터 5까지만 출력하세요
#내 오답
numbers = [1,2,3,4,5,6,7,8,9,10]
for i in numbers :
    if i < 6:  #콜론과 들여쓰기 잊지않기
        print(i)

1
2
3
4
5

In [33]:
for i in range(1,11):
    print(i)
    if i < 5:
        continue
    else:
        break

1
2
3
4
5

In [36]:
for i in range(1,11):
    print(i, end=' ')
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

In [40]:
#w잘한예시 1
for i in range(1,11):
    print(i, end=' ')
    if i > 4:
        break

1 2 3 4 5

In [42]:
#잘한 예시 2
for i in range(1,11) :
    if i < 6:  
        print(i, end=' ')

1 2 3 4 5

In [55]:
#Q. numbers 리스트에서 15,20,25를 출력하세요. (for문과 if조건 사용 필수)
#내 오답 - 5의 배수에만 너무 집중해서 그냥 제일 큰 애들만 뽑으면 된다는걸 잊음
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
    if i %5 == 0:
        print(i, end=' ')

5 15 20 25

In [54]:
#정답
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if number < 15:
        continue
    else:
        print(number, end=' ')

15 20 25

In [56]:
#정답
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if number > 14:
        print(number, end=' ')

15 20 25

In [63]:
# 제어문 - while 
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요.
x = 1
sum = 0
while 1:  #1을 쓴 이유는 걍 TRUE라는 뜻
    sum += x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1  #위 if조건에 해당하지 않는 x는 if조건을 패스하고 이 줄로 내려와 더해짐

45
1035

In [69]:
#Q. whle문을 사용해서 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.
#내가 쓴 오답
while i in range(1,1001): #range는 for문에서, while문에서는 쓰는거ㄴㄴ
    sum =+ i
    if i %3 == 0:
        print(sum)
    i += 1
    break

In [72]:
#정답
sum = 0
i = 1
while i < 1001:
    if i %3 == 0:
        sum += i
    i += 1
print(sum)

166833

In [1]:
#과제
#Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요. 
i = 1
sum = 0
while i < 1001:
    if i %15 ==0:
        sum += i
    i += 1
print(sum)

33165

In [77]:
#Q. While~continue~break문을 사용해서 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요, 문제 잘못읽어서 오답^^ 얘는 5의 배수 구하는법
i = 1
sum = 0
while i < 100:
    if i %5 == 0:
        sum += i
    i += 1
print(sum)

950

In [1]:
#답안
sum = 0
x = 1
while x < 101:
    x += 1
    if x < 5:
        continue #걍 이과정을 넘어간다는 뜻임
    sum += x
    if x > 94:
        break
print(sum)

4550

In [ ]:
sum = 0
x = 1
while x < 101:
    if x < 5:
        continue
    elif x >= 5:
        sum += x
    else:
        continue
    x += 1
print(sum)

In [85]:
#내 답인데 continue, break 안써서 틀림
sum = 0
x = 1
while x < 101:
    if 5<= x <= 95:
        sum += x
    x += 1
print(sum)

4550

In [ ]:
#이거 계속 오류나는데 원인을 알아보자 -> += 인데 =+로 바뀌어 있었음^^ 대부분의 오류는 오타로 인해 발생한다!
sum = 0
x = 1
while x < 101:
    x =+1
    if x < 5:
        continue
    sum += x
    if x > 94:
        break
print(sum)

In [3]:
# 위의 문제 검증해보기

# ~100까지의 합 구하고, 1~4까지 합과 96~100까지 합 뺴주기
sum1 = 0
sum2 = 0
sum3 = 0

for x in range (1, 101):
    if x < 5:
        sum1 += x
    elif 0<= x <= 100:
        sum2 += x
    else x > 95:
        sum3 += x
print(sum2 - sum1 -sum3)

SyntaxError: invalid syntax (<ipython-input-3-6b8aa05041e6>, line 13)

In [4]:
sum1 = 0
sum2 = 0
sum3 = 0

for i in range (1,101):
    sum1 += i
print(sum1)


for i in range (1, 5):
    sum2 += i
print(sum2)


for i in range(96,101):
    sum3 += i
print(sum3)

print(sum1 - sum2 - sum3)

5050
10
490
4550

In [100]:
# 람다 함수를 이용해서 a의 b제곱을 구하는 식을 만들고 a,b가 아래와 같이 주어졌을 때 각각의 값을 구하세요.
#a = 2, b =5
#a = 5, b=2

x = lambda a, b : a ** b
print(x(2,5))
print(x(5,2))

32
25

In [102]:
#a=2; b=3; c=5
#a * b - c 를 람다로 구해보기

x = lambda a, b, c : a * b - c
x(2,3,5)

1

In [103]:
#Q. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하시요. (튜플로 출력 필수)
a, b = 97, 40
divmod(a, b) #(a, b) : (몫, 나머지)

(2, 17)

In [104]:
#사용자 함수 쓰는법, 내가 함수를 만드는 것임, 10을 더하는 함수를 만들어줄 것
def add_10(a): #a라는 인자를 넣어주면 10을 더해주는 함수를 만들 것
    return a + 10

add_10(100)

110

In [107]:
#a=2; b=3; c=5
#a * b - c 를 시용자 함수로 구해보기

def multi_1(a,b,c):
    return a*b-c

multi_1(2,3,5)

1

In [155]:
#사용자 함수로 내가 만들고 싶은 것 만들어보기, 최대한 가치있게 만들어보기 -> 최대한 수정해보자

thx_word = input("마지막으로 하고 싶은 말을 남겨주세요: ")
word_1 = ["감사합니다.", "감사", "수고하셨습니다.", "ㄳ"]

def thx_1(a):
    if thx_word in word_1 :
        print("별말씀을요.")
    else :
        print("안녕히 가세요")
        
thx_1

마지막으로 하고 싶은 말을 남겨주세요: ㄳ

In [146]:
#Q. 현재 시각을 오전과 오후를 구분하는 프로그램을 작성하세요.
import datetime
t = datetime.datetime.now()

if t.hour < 12:
    print("현재 시간은 {}시입니다.". format(t.hour))
else :
    print("현재 시간은 {}시입니다.". format(t.hour))

현재 시간은 14시입니다.

In [148]:
#Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성 #처음으로 정답^^

x = input("정수를 입력해주세요 : ")
int_x = int(x)

if int_x %2 ==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

수를 입력해주세요 : 6
짝수입니다.

In [169]:
#Q. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째와 두번째중 큰 숫자를 구하는 프로그램을 만드시오. 오답

a = int(input("정수를 입력해주세요 : "))
b = int(input("정수를 입력해주세요 : "))


if a > b:
    print("{}가 더 큽니다.".format(a))
elif a < b :
    print("{}가 더 큽니다.".format(b))
else:
    print("잘못입력했습니다.")

정수를 입력해주세요 : 55
정수를 입력해주세요 : 44
55가 더 큽니다.

In [168]:
def in_1(a,b):
    if a > b:
        print("{}가 더 큽니다.".format(a))
    elif a < b :
        print("{}가 더 큽니다.".format(b))
    else:
        print("잘못입력했습니다.")

in_1(1,3)

3가 더 큽니다.

In [163]:
#종덥
num1 = input("정수입력> ")
n1 = int(num1)
num2 = input("정수입력> ")
n2 = int(num2)

if n1 > n2:
    print(n1)
else:
    print(n2)

정수입력> 6
정수입력> 10
10

In [ ]:
#Q 1~20 사이의 정수에서 3의 배수만 출력하세요.

In [ ]:
#Q. 1~100 범위의 정수에서 95보다 큰 정수만 출력하세요

In [ ]:
#Q. [5,0,3,3,7,9,3,5,2,4]에서 7,9만 출력하세요.

In [ ]:
#Q. [5,0,3,3,7,9,3,5,2,4]에서 0,9만 출력하세요.

In [170]:
num = np.arange(20).tolist()
num

NameError: name 'np' is not defined

In [ ]:
#Q. num에서 10,11,12만 출력하세요.

In [ ]:
#Q. 500~1000사이의 정수 중 3과 5의 공배수의 합을 구하세요

In [172]:
#Q. 1 ~1000 사이의 정수 중 5와 7의 공배수의 합을 구하세요.

In [173]:
#Q. 1~100 사이의 정수 중  3과 4의 공배수를 리스트로 구하세요.

In [174]:
#Q. 3~7사이의 정수의 곱을 구하세요.

In [175]:
#Q. 2,3을 더한 후 5를 곱하는 계산 값을 람다함수를 이용하여 구하세요.

In [176]:
#Q. 2와 5를 더한 후 3으로 나눈 나머지 값ㅇ르 사용자 함수를 이용하여 구하세요.

In [178]:
input_a = """
                    It is ture
'Python is fit for data analysis'
"""
print(input_a)

                    It is ture
'Python is fit for data analysis'

In [179]:
#Q. 문장 앞의 공백을 제거하고 아래와 같이 출력하세요(구글링)
#It is true
#'Python is fit for data analysis'

In [180]:
#Q. "10/20/30/40/50을 '/'를 기준으로 구분하여 아래와 같이 출력하세요."
#['10','20','30','40','50']

In [182]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2021, 6, 23, 14, 41, 54, 497620)

In [183]:
#Q. 현재의 날씨와 시간을 다음과 같이 포멧으로 표현하세요.
# 2021년 6월 23일 09시 01분 01초

In [184]:
#Q. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수르 입력하면 덧셈값을 출력하고 그 외는 다시 입력하라는 메시지를 출력하세요.

In [185]:
#Q. 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.
# [1*99, 2*98...98*2, 99*1]

In [ ]:
#Q. [     ]을 채워서 아래의 출력과 같이 출력하세요.
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]

for number in numbers:
    output[       ]. append(number) 
print(output)

출력
[[1,4,7],[2,5,8],[3,6,9]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]
for number in numbers:
    output[       ]. append(number) 
print(output)

## Q. 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 case별 멘트 출력은 상황에 맞게 장착
- while, if~elif~else 제어문을 사용하여 작성