In [14]:
# 5를 2로 나누었을 때의 몫과 나머지를 구하세요

a = 5
b = 2
c = a // b #몫
d = a % b #나머지
print(c)
print(d)

2
1

In [2]:
print(5//2)
print(5%2)

2
1

In [19]:
# 101의 3승을 구하시오
z = 101
y = 101 ** 3
print(y)

1030301

In [20]:
#python과 3.8.3을 합쳐서 python 3.8.3으로 출력하시오
print('python'+' 3.8.3') #혹은 print("python, "3.8.3")

python 3.8.3

In [4]:
#a = 5, a='10' a=15일때 a의 자료형은 무엇인가?

#A. 프린트하면 마지막으로 a에 입력된 15가 나오므로 정수 15

a=5
a='10'
a=15
print(a) #추가
type(a)

15

int

In [3]:
#5의 3승을 3으로 나누었을 때의 나머지를 복합 대입 연산자를 이용해서 구하세요

num=5
num**=3
num%=3
num

2

In [11]:
#한줄에 계산식
num = 5; num**=3; num%=3
num

2

In [4]:
# 이름을 물어보고 답하는 내용을 출력하세요 
input("이름이 뭐예요?")

이름이 뭐예요?조경림

'조경림'

In [18]:
#숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때 몫을 구하세요
num1=input("숫자를 입력하세요 : ")
num2=input("숫자를 입력하세요 : ")
num3=input("숫자를 입력하세요 : ")

result1 = int(num1)
result2 = int(num2)
result3 = int(num3)

result1**=result2
result1//=result3

print(result1)

숫자를 입력하세요 : 3
숫자를 입력하세요 : 4
숫자를 입력하세요 : 5
16

In [17]:
num1=(input("숫자를 입력하세요 : "))
result1 = int(num1)
num2=(input("숫자를 입력하세요 : "))
result2 = int(num2)
num3=(input("숫자를 입력하세요 : "))
result3 = int(num3)

print(result1 ** result2 / result3)

숫자를 입력하세요 : 3
숫자를 입력하세요 : 7
숫자를 입력하세요 : 9
243.0

In [12]:
#1부터 5까지 입력해서 12345를 출력하세요.
n1 = input("1을 입력하세요.")
n2 = input("2를 입력하세요.")
n3 = input("3을 입력하세요.")
n4 = input("4를 입력하세요.")
n5 = input("5를 입력하세요.")

str1 = str(n1)
str2 = str(n2)
str3 = str(n3)
str4 = str(n4)
str5 = str(n5)

print(str1+str2+str3+str4+str5)

1을 입력하세요.4
2를 입력하세요.5\
3을 입력하세요.5
4를 입력하세요.5
5를 입력하세요.5
45\555

In [26]:
#[0,1,2,3,4,5,6,7,8,9,'a',b','c']에서 9와 'a'를 삭제 후 리스트로 출력하세요
a = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del a[-4]
del a[-3]
         
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [14]:
a = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del a[-4:-2]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [28]:
#[0,1,2,3,4,5,6,7,8,9,'b','c']에서 'c'를 삭제 후 출력하세요.
b = [0,1,2,3,4,5,6,7,8,9,'b','c']
del b[-1]

print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'b']

In [31]:
#[4,8,5,4,6,4,3,8,1,9]를 내림차순으로 정렬하세요.
c = [4,8,5,4,6,4,3,8,1,9]

c_d = sorted(c, reverse=True)
print(c_d)

[9, 8, 8, 6, 5, 4, 4, 4, 3, 1]

In [42]:
#Q.태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
#원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양
year_input = int(input("태어난 해를 알려주세요 : "))
birth_year = year_input%12

if birth_year==0:
    print("원숭이 띠입니다.")
    
elif birth_year==1:
    print("닭 띠입니다.")
    
elif birth_year==2:
    print("개 띠입니다.")
    
elif birth_year==3:
    print("돼지 띠입니다.")
    
elif birth_year==4:
    print("쥐 띠입니다.")
    
elif birth_year==5:
    print("소 띠입니다.")

elif birth_year==6:
    print("범 띠입니다.")

elif birth_year==7:
    print("토끼 띠입니다.")
    
elif birth_year==8:
    print("용 띠입니다.")
    
elif birth_year==9:
    print("뱀 띠입니다.")
    
elif birth_year==10:
    print("말 띠입니다.")
    
else :
    print("양 띠입니다.")

태어난 해를 알려주세요 : 1996
쥐 띠입니다.

## Q 계절 구분 프로그램
- 시나리오 : 3-5월은 봄, 6-8월은 여름, 9-11월은 가을, 12-2월은 겨울로 구분, 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [50]:
season_input=input("몇 월인지 알려주세요 : ")
spring = ['3월','4월','5월','3','4','5']
summer = ['6월', '7월','8월', '6','7','8']
fall = ['9월','10월','11월','9','10','11']
winter = ['12월', '1월', '2월', '12','1','2']

if season_input in spring:
    print("봄입니다.")

elif season_input in summer:
    print("여름입니다.")
    
elif season_input in fall:
    print("가을입니다.")
    
else :
    print("겨울입니다.")

몇 월인지 알려주세요 : 4
봄입니다.

In [18]:
import datetime
t = datetime.datetime.now()
t

datetime.datetime(2021, 6, 23, 10, 8, 59, 124588)

In [19]:
import datetime
t = datetime.datetime.now()
t.month

6

In [21]:
import datetime
t = datetime.datetime.now()
if 3<= t.month <=5:
    print("봄입니다.")

if 6<= t.month <=8:
    print("여름입니다.")
    
if 9<= t.month <=11:
    print("가을입니다.")
    
if 1<= t.month <=2 or t.month ==12:
    print("겨울입니다.")

여름입니다.