리스트를 다루는 함수들 : https://dororongju.tistory.com/36

Q.내장함수를 이용해서 list1 = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.
삭제하는 내장함수 찾아서 하기

In [66]:
#방법1 - 인덱스의 위치요소 제거
list1 = [0,1,2,3,4,5,6]
list1.pop(2)   
list1

[0, 1, 3, 4, 5, 6]

In [67]:
#방법2 - 해당 값의 요소 제거
list2 = [0,1,2,3,4,5,6]
list2.remove(2)   
list2

[0, 1, 3, 4, 5, 6]

In [68]:
# Q.내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
#얘도 내장함수 찾아서 하기
list3 = [0,1,2,3,4,5,6]
list3.clear()
list3

[]

In [3]:
# Q. list = [0,1,2,3,4,5,6]에 3,7이 포함되어 있는지 확인하세요.
list4 = [0,1,2,3,4,5,6]
def ide(*args):
    if args in list4:
        print("True")
    else:
        print("False")
print(ide(3,7))

False
None

In [5]:
# Q. numbers 내부에 들어 있는 숫자가 몇 번 등장하는 지를 출력하는 코드를 작성하세요. 
numbers = [3,6,6,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

def count1(i):
    if i in numbers:
        data = numbers.count(i)
        print('{}는 {}번 들어있습니다.'.format(i,data))
    else:
        print("리스트에 없는 숫자입니다. 다시 입력해주세요.")

count1(4)

4는 2번 들어있습니다.

Q. list를 [6,5,4,3,2,1,0]으로 출력하세요(2가지 방법)

In [71]:
# 방법1.
list5 = [0,1,2,3,4,5,6]
list5.reverse()
list5

[6, 5, 4, 3, 2, 1, 0]

In [72]:
# 방법2.
list(range(6, -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [73]:
# Q. list = ['a','b','c']을 for문을 사용해서 아래와 같이 출력하세요.
#1번째는 a입니다.
#2번째는 b입니다.
#3번째는 c입니다.

l1 = ['a', 'b', 'c']

for i in l1:
    place = l1.index(i)
    print('{}번째 자리는 {}입니다.\n'.format(place, i))

0번째 자리는 a입니다.

1번째 자리는 b입니다.

2번째 자리는 c입니다.

In [74]:
# Q. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요. list안에서 하면 됨
list7 = []
for i in range(0,20,2):
    list7.append(i*i)
print(list7)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [7]:
print([i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [13]:
def a(b,a=1):
    
    for i in range(5):    
        print(a)
        print(b)
a(3)

1
3
1
3
1
3
1
3
1
3

In [75]:
# Q. list = [0,1,2,3,4,5,6,7,8,9]에서 아래와 같이 출력하세요.
l2 = [0,1,2,3,4,5,6,7,8,9]
#[0,2,4,6,8]
#[1,3,5,7,9]
#[2,1,0]
a = []
b = []
c = []

for i in l2:
    if i %2 ==0 :
        a.append(i)
    if i %2 ==1 :
        b.append(i)
    if i <= 2:
        c.append(i)
print(a)
print(b)
print(c)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 1, 2]

In [76]:
# Q. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.
#a::b::c
str_list = ['a','b','c']
str = "::".join(str_list)
print(str)

a::b::c

In [77]:
# Q. 사용자 함수를 이용해서 여러개의 숫자를 입력하면여 그 숫자들의 곱을 구하세요.

def abc(*args):
    sum = 1
    for i in args:
        sum *= i
    return sum
    
abc(2,3,4)

24

In [78]:
# Q. 두 개의 숫자를 인자로 적용하면 4칙 연산을 수행하는 사용자 함수를 작성한 후 
# 5,3을 대입한 결과를 튜플로 출력하세요. 단, 소수점은 없게 처리

def cal1(a,b):
    return a+b, a-b, a*b, a//b
cal1(5,3)

(8, 2, 15, 1)

In [102]:
def minus1():
    a = int(input("정수를 입력해주세요 : "))
    b = int(input("정수를 입력해주세요 : "))
    sum2 = a - b
    say2 = ("{}빼기 {}는 {}입니다.\n").format(a,b,sum2)
    return say2
    
def division1():
    sum1 = a // b
    say = ("{}나누기 {}는 {}입니다.").format(a,b,sum1)
    return say

def main():
    return minus1() + division1()

print(main())

정수를 입력해주세요 : 5
정수를 입력해주세요 : 5
5빼기 5는 0입니다.
5나누기 4는 1입니다.

In [103]:
# Q. 아래를 완성하여 2를 출력하세요.
a = 3
def vartest(a):
    a -= 1
    return a

vartest(3)

2

In [53]:
# Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요.
#단 반복적으로 작업을 수행할 수 있음.

while 1:
    a = input("아무거나 입력하세요.: ")
    if a == float and a == str :
        continue
    elif a == "":
        print("종료합니다.")
        break

아무거나 입력하세요.:
종료합니다.

In [63]:
# Q. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

def re1(a):
    sum = 1
    for i in range(1, 1+a):
        sum *= i
    return sum

print(re1(5))
print(re1(10))

120
3628800

In [65]:
#Q. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는
#작성하고 1!, 5!, 10!를 구하세요.
#factorial(n) = n * factorial(n-1) (n>=1)

def fac1(a):
    if a == 1 :
        return 1
    elif a > 1 :
        return a * fac1(a-1)
print(fac1(5))
print(fac1(1))
print(fac1(10))

120
1
3628800

In [43]:
# Q. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 면적과 둘레를 구하세요
def round1 (a):
    pi = 3.14
    rr = a*a*pi
    rline = 2*a*pi
    return "반지름이 {}일 때, 면적 {:0.2f}, 둘레 {:0.2f}".format(a, rr, rline)



print(round1(5))
print(round1(10))

반지름이 5일 때, 면적 78.50, 둘레 31.40
반지름이 10일 때, 면적 314.00, 둘레 62.80

In [9]:
# Q. '안녕!'을 10번 출력하는 사용자 함수를 작성하여 실행하세요.

def hello():
    for i in range(10):
        print("안녕!")

hello()

안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!

In [104]:
#Q. 내장함수를 이용하여 [1,2,3,4,5]를 [1.0,2.0,3.0,4.0,5.0]로 변환하세요.
#방법1
list5 = [1,2,3,4,5]
sum = []
for i in list5:
    a = float(i)
    sum.append(a)
print(sum)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [2]:
#방법2
a = [1,2,3,4,5]
b = list(map(float,a))
print(b)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [1]:
# Q. 내장함수 map()를 이용하여 [1,2,3,4,5]를 [1,4,9,16,25]로 변환하세요.

list_6 = [1,2,3,4,5]
def mul_mul(i):
    return i ** 2

a = list(map(mul_mul, list_6))
    
print(a)

[1, 4, 9, 16, 25]